<h2> Edit Car: </h2>

<form method="post" action="/cars/<%= @car.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="make" value="<%= @car.make %>">
  <input type="text" name="model" value="<%= @car.model %>">
  <input type="text" name="color" value="<%= @car.color %>">
  <input type="text" name="car_type" value="<%= @car.car_type %>">
  <input type="text" name="price" value="<%= @car.price %>">
  <input type="submit" value="edit">
</form>